@model  FinancialAidAllocationTool.Models.Application.FaatAppSibStudent
@using HtmlHelpers.BeginCollectionItemCore;

@{

}

@using (Html.BeginHtmlFieldPrefixScope(@ViewData["ContainerPrefix"].ToString()))
{
    @using(Html.BeginCollectionItem("FaatAppSibStudent"))
{
  <section class="Students" style="margin-top: 4px;">
      <div class="row">
          <div class="col-12">
             <label class="text-xs font-weight-bold text-success text-uppercase mb-1">Student @TempData["StudentCount"]</label>
          </div>
      </div>
    <div class="row" style="margin-top:2px;">
        
        <div class="col-xl-3 col-lg-6 col-md-6 col-6 MyFont">
            <label class="font-weight-bold" style="margin-top: 6px;">Name</label>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-6">
            <input class="form-control" asp-for="Name">
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-6 px-0 pl-3 MyFont">
                <label class="font-weight-bold" style="margin-top: 6px;">Institute Name</label>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                <input class="form-control" asp-for="ClassInstituteName">
            </div>
    </div>
        
           <div class="row" style="margin-top:2px;">
               <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                   <label class="font-weight-bold" style="margin-top: 6px;">Fee Slip</label>
               </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                                    
                                     <a class="AttachFile" ><i class="fa fa-paperclip" aria-hidden="true"></i></a><img class="ViewImage" hidden alt="" src="" style="width: 50px;height:50px;margin-left:4px;border: 3px solid black">

                                      <input type="file" asp-for="StudentCardFile" hidden id="uploadstudent">
                                    
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                      <label class="font-weight-bold" style="margin-top: 6px;">Discard</label>
                </div>
                  <div class="col-xl-3 col-lg-6 col-md-6 col-6">
            
                    <a href="#" class="btn btn-danger delete-Student">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </div>

           </div>
        
       
        
        

   </section> 
            

}
}
