@model  FinancialAidAllocationTool.Models.Application.FaatAppResidenceInfo
@using HtmlHelpers.BeginCollectionItemCore;
@{

}

@using (Html.BeginCollectionItem("FaatAppResidenceInfo"))
{
<section class="ResidenceInfo tab">
  <div class="row">
       <div class="col-lg-12 col-12">
         <div class="card border-left-success shadow">
          <div class="card-body">
         
           <div class="row">
                <div class="col-sm-12 text-xs font-weight-bold text-success text-uppercase mb-1 pl-3" id="ResidenceDetails">
                <h5>Residence Information</h5>
                </div>
            </div>

           <hr style="border-bottom: 1px solid grey;">

         
            <div class="row" style="margin-top: 4px;">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                    <label class="font-weight-bold" style="margin-top: 6px;" asp-for="Mode" class="control-label"></label>
                    </div>
                    <div class="col-lg-9 col-xl-9 col-md-9 col-12"> 
                               <label>Own</label>
                                

                                <input type="radio" asp-for="Mode" value="Own" class="own" onclick="OwnHouse(this)">
                                <label>Rented</label>
                                <input type="radio" asp-for="Mode" value="Rented" class="rent" onclick="RentHouse(this)">
                    <label class="control-label">Other</label> 
                    <input type="radio"  class="others" onclick="OthersHouse(this)">
                    <input  asp-for="Mode"  class="collapse OthersValue" onkeyup="OtherValue(this)">

                    </div>
                 
               </div>

               <div class="row" style="margin-top: 4px;">
                   <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                      <label class="font-weight-bold" style="margin-top: 6px;" asp-for="Address"></label>
                       <textarea asp-for="Address" class ="form-control"></textarea>

                   </div>

              </div>
              <div class="row" style="margin-top:2px;">
                   <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                                  <label class="font-weight-bold" style="margin-top: 6px;">Residence Docx</label>
                   </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-6">
                                                               <a class="AttachFile" ><i class="fa fa-paperclip" aria-hidden="true"></i></a><img class="ViewImage" hidden alt="" src="" style="width: 50px;height:50px;margin-left:4px;border: 3px solid black">

                                      <input type="file" id="customFile6" asp-for="ResidenceFile" hidden>
                   </div>

              </div>



            

    

</div>
         </div>
       </div>
  </div>

         
  
  
          
             
          



          
</section>
}