@model List<FinancialAidAllocationTool.Models.Application.FaatAppComments>

@{
    Layout = null;
}

    
                       @if(User.IsInRole("Committee"))
                       {
                        <form asp-action="AddComments" asp-controller="Home" method="POST" id="myform">
                            <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Recommend Amount:</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="number" class="form-control" asp-for=@Model.ToList()[0].Amount>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Comments</label>
                                </div>
                                <div class="col-lg-6">
                                    <textarea class="form-control" asp-for=@Model.ToList()[0].Comments></textarea>
                                     <input type="hidden" asp-for=@Model.ToList()[0].ApplicationId/>
                                    <input type="hidden" asp-for=@Model.ToList()[0].Id/>  
                                     <input type="hidden" asp-for=@Model.ToList()[0].UserId/> 
                                     <input type="hidden" asp-for="@Model.ToList()[0].ClassID">           
                                </div>
                                 
                            </div>
                      
                            
                      </div>          
                                
                        </div>
                        </form>
                       }
                       @if(User.IsInRole("Admin"))
                       {
                           foreach(var item in Model)
                           {
                        <div class="card" style="margin-bottom: 4px;">

                           
                                <div class="card-body">
                                     <h5 class="card-title">@item.Users.Name</h5>
                                     <div class="row">
                                         <div class="col-lg-6">
                                             <label>Recommended Amount:</label>
                                         </div>
                                         <div class="col-lg-6">
                                               <input type="number" readonly asp-for=@item.Amount>
                                         </div>
                                    </div>
                                    <div class="row" style="margin-top: 4px;">
                                     <div class="col-lg-6">
                                          <label>Comments</label>
                                     </div>    
                                    <div class="col-lg-6">
                                    <textarea class="form-control" readonly asp-for=@item.Comments></textarea>

                                    </div>
                                    </div>
                                     
                                     
                                
                                </div>
                         </div>
                           }
                           @if(Model.Count()==0)
                           {
                               <label class="text-lg text-danger">Sorry No comments</label>
                           }
                              
                       }
