@model FinancialAidAllocationTool.Models.FaatClassDefinition

<ul class="list-group">
                    <li class="list-group-item bg-info">
<div class="row" style="text-align: center;">
     
                              <div class="col-lg-3 col-md-3 col-3" style="text-align: center;">
                                   Arid No
                              </div>
                              <div class="col-lg-3 col-md-3 col-3" style="text-align: center;">
                                   Name
                              </div>
                              <div class="col-lg-3 col-md-3 col-3" style="text-align: center;">
                                   CGPA
                              </div>
                              <div class="col-lg-3 col-md-3 col-3" style="text-align: center;">
                                   Select
                              </div>
                            
</div>
                    </li>
                    <form id="myform" asp-action="ManualAddNeed" asp-controller="Home" method="POST">
                    <input asp-for="Discipline" type="hidden">
                    <input asp-for="SemesterCount" type="hidden">
                    <input asp-for="Section" type="hidden">
                    <input asp-for="Id" type="hidden">
                 

                    @foreach (var item in Model.FaatScholarLog)
                    {
                        <partial name="ManualAddNeedPartial" for="@item"></partial>
                        
                        
                    }
                    </form>
</ul>
